# Conexión a Neon (pooled, para queries normales)
DATABASE_URL="postgresql://usuario:password@ep-xxxx-pooler.region.aws.neon.tech/neondb?sslmode=require"

# Conexión directa a Neon (sin pooler, para migraciones de Prisma)
DIRECT_URL="postgresql://usuario:password@ep-xxxx.region.aws.neon.tech/neondb?sslmode=require"

# Secreto para proteger el endpoint de scraping (Vercel Cron lo manda automáticamente)
CRON_SECRET="genera-un-string-random-largo-aqui"
